bcrypt==4.2.0
fastapi==0.140.7
pydantic==2.13.4
PyMySQL==1.2.0
python-dotenv==1.2.2
python-jose[cryptography]==3.3.0
SQLAlchemy==2.0.51
uvicorn==0.51.0
email-validator>=2.0.0
python-multipart==0.0.32
firebase-admin>=6.5.0
tflite-runtime==2.14.0
Pillow>=10.0.0
numpy==1.26.4
